# ************************************
# Default template in module puppetlabs-apache
# Managed by Puppet
# ************************************

NameVirtualHost <%= vhost_name %>:<%= port %>
<VirtualHost <%= vhost_name %>:<%= port %>>
  ServerName <%= srvname %>
<% if serveradmin %>
  ServerAdmin <%= serveradmin %>
<% end %>
<% if serveraliases.is_a? Array -%>
<% serveraliases.each do |name| -%><%= "  ServerAlias #{name}\n" %><% end -%>
<% elsif serveraliases != '' -%>
<%= "  ServerAlias #{serveraliases}" %>
<% end -%>
  DocumentRoot <%= docroot %>
  <Directory <%= docroot %>>
    Options FollowSymLinks MultiViews
    AllowOverride <%= Array(override).join(' ') %>
    Order allow,deny
    allow from all
  </Directory>
  ErrorLog /logs/<%= name %>_error.log
  LogLevel warn
  CustomLog /logs/<%= name %>_access.log combined
  ServerSignature Off

  RewriteEngine On
  # Redirect all requests that doesn't match an existent file or directory to PHP dispatcher.
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-f
  RewriteCond %{DOCUMENT_ROOT}%{REQUEST_FILENAME} !-d
  RewriteRule ^/(.+) /index.php [QSA,L]
</VirtualHost>
